extends layout

block body
  a(href='/') home
  span   /
  a(href='/posts/new')  new post
  div
    div(ng-view)

  script(src='js/vendor.js')
  script(src='js/partials.js')
  script(src='js/app.js')
