extends layout

block body
  h1#title Mongo/Express/Angular Blog
  ul#navbar
    li.navItem
      a(href='/') home
    li.navItem
      a(href='/posts/new')  new post
    li.navitem
      input#postSearch(type='text', ng-model='search', placeholder='Search posts')

  div
    div(ng-view)

  script(src='js/vendor.js')
  script(src='js/partials.js')
  script(src='js/app.js')
