ul#posts
  li(ng-repeat='post in posts | filter:search')
    h3.postTitle {{post.title}}
    p {{post.content}}
    a(href="post/{{post['_id']}}")  show
    span   /\/
    a(href="post/edit/{{post['_id']}}")  edit
    span   /\/
    a(href='', ng-click="removePost(post['_id'])")  remove
