h2 Edit a post
label(for='title') Title:
input(ng-model='post.title', name='title')
p Body:
textarea(ng-model='post.content', name='content', cols='50', rows='15')
p
  button(ng-click='updatePost()') Submit Post
